.Imagen {
    background-color:rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    background: url(Imagenes/todapagina.jpg);
    background-size: cover;
    }

    body {
        background:url(Imagenes/todapagina.jpg);
    }

    .titulo {
        color:rgb(6, 94, 39);
        text-align: left;
        font-size: 40px;
    }

    .hana {
        text-align: left;
    }
    
    .central {
        text-align: center;
    }
    
    .central li {
        display: inline-block;
    }
    


.map {
    width: 50%;
    text-align: center;
}

.mapa {
    text-align:center;
}

    .fondo {
        background-image: url(Imagenes/todapagina.jpg);
        background-size: cover;
    }
