@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,300;1,400&display=swap');


body{
    background: url(../creeper.jpg);
    font-family: 'Raleway', sans-serif;
}

.creeper{
    background-color: black;
}

.creeper h1{
    color: rgb(68, 161, 13);
    text-align: center;
}

.Juegos {
    text-align:center;
}

.Juego h1{
    text-align: right;
color: rgb(216, 47, 18);
}

.texto{
    color: white;
    text-align: right;
    font-size: 20px;
    font-family: monospace;
}

.Juegos p{
    text-align: right;
}

.container-slider {
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px rgb(1, 77, 24),
                   0 15px 50px;
        position: relative;
    }

    .slider {
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
    }
    .slider__section {
    width: 100%;
    }
    .slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    .slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255,
    0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    }
    .slider__btn:hover{
    background: #fff;
    }
    .slider__btn--left{
    left: 10px;
    }
    .slider__btn--right{
    right: 10px;
    }

    html, body{
        margin: 0;
        padding: 0;
    }

    body{
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        line-height: 1.6;
        font-family: 'Open sans', sans-serif;
    }
    .title{
        text-align: center;
        font-size: 40px;
        color: #928787;
        margin-top: 100px;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
    }

    .container{
        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }

    .container .card{
        width: 300px;
        height: 500px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgb(255, 255, 255, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    }
    .container .card:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    .container .card img{
        width: 320px;
        height: 350px;
    }

    .container .card h4{
        font-weight: 600;
        color: red;
    }
    .container .card p{
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
    }

    .central{
        text-align: center;
        font-family: serif;
    }


    .container .card a{
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
    }

    .container1{
        width: 90%;
        min-height: 100vh;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slider1{
        background-color: rgb(12, 177, 12);
        padding: 40px 0;
    }

    .slider__container{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        align-items: center;
        gap: 1em;
    }

    .slider__body{
        grid-column: 2/3;
        grid-row: 1/2;
        opacity: 0;
        pointer-events: none;
        display: grid;
        background-color: rgb(12, 177, 12);
        grid-template-columns: 1fr max-content;
        align-items: center;
        transition:opacity 1.5s;
    }

.comentarios{
    text-align: center;
    font-family: cursive;
    font-size: 40px;
}

    .slider__body--show{
        opacity: 1;
        pointer-events: unset;
    }

    .slider__img1{
        width: 230px;
        height: 230px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .slider__texts{
        max-width: 600px;
    }

 .subtitle{
     font-size: 2.5rem;
     margin-bottom: 20px;
    
 }

 .slider__review{
     font-weight: 300;
     font-size: 20px;
     line-height: 1.7;
     color: rgb(202, 196, 196);
    
 }

 .slider__arrow{
     cursor: pointer;
     width: 90px;
   
 }

 .slider__arrow:nth-of-type(2){
      justify-self: end;

 }

 @media (max-width:768px){
.slider__body{
    grid-template-columns: 1fr;
    grid-template-rows:max-content 1fr ;
    gap: 1em;
}

.slider__picture{
    grid-row:1/2 ;

}

     .slider__img1{
         width: 210px;
         height: 210px;
     }

     @media (max-width:425px){
        .slider__container{
            grid-template-columns: 25px 1fr 25px;
        }
        
        .slider__arrow{
            width:100% ;
        }
        
             .slider__img1{
                 width: 180px;
                 height: 180px;
             }

.subtitle{
    font-size: 2rem;
    margin-bottom: 15px;
}

.slider__review{
    font-size: 1rem;
    line-height: 1.6;
}

 }
}

